In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from random import randrange

In [2]:
train = pd.read_csv("train.csv")
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
without_NaN = train.dropna()
pclass = without_NaN[["Pclass", "Cabin"]].to_numpy()

tmp = np.array([])

for (a, b) in pclass:
    if a == 3 or a == 2:
        tmp = np.append(tmp, np.array(b))

tmp

array(['G6', 'D56', 'F33', 'F G73', 'E101', 'F2', 'F4', 'F2', 'G6', 'G6',
       'D', 'D', 'F2', 'F33', 'G6', 'E10', 'D', 'F33', 'F4', 'F G63',
       'F G73', 'E101', 'E121', 'E77', 'E121'], dtype='<U32')

In [4]:
train_copy = train.copy()
train_copy["Cabin"] = train_copy["Cabin"].apply(lambda v : (tmp[randrange(len(tmp))] if pd.isna(v) else v))
train_copy

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,E10,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,F G73,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,F2,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,D56,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,G6,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,F2,Q

In [5]:
train_without_embarked = train_copy.copy().drop("Embarked", axis=1)
train_without_embarked = train_without_embarked.interpolate(method='pad')

C:\Users\aroni\AppData\Local\Temp\ipykernel_14108\3254842845.py:2: FutureWarning: DataFrame.interpolate with method=pad is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  train_without_embarked = train_without_embarked.interpolate(method='pad')

In [6]:
train_without_embarked.isna().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age            False
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin          False
dtype: bool

In [14]:
train_without_embarked = train_without_embarked.replace('male', 0)
train_without_embarked = train_without_embarked.replace('female', 1)
train_without_embarked["Age"] = train_without_embarked['Age']/train_without_embarked['Age'].max()
train_without_embarked["Fare"] = train_without_embarked['Fare']/train_without_embarked['Fare'].max()
train_without_embarked = train_without_embarked.drop(['Name', 'Ticket'], axis=1)
train_without_embarked

     PassengerId  Survived  Pclass  Sex     Age  SibSp  Parch      Fare  Cabin
0              1         0       3    0  0.2750      1      0  0.014151    E10
1              2         1       1    1  0.4750      1      0  0.139136    C85
2              3         1       3    1  0.3250      0      0  0.015469  F G73
3              4         1       1    1  0.4375      1      0  0.103644   C123
4              5         0       3    0  0.4375      0      0  0.015713     F2
..           ...       ...     ...  ...     ...    ...    ...       ...    ...
886          887         0       2    0  0.3375      0      0  0.025374    D56
887          888         1       1    1  0.2375      0      0  0.058556    B42
888          889         0       3    1  0.2375      1      2  0.045771     G6
889          890         1       1    0  0.3250      0      0  0.058556   C148
890          891         0       3    0  0.4000      0      0  0.015127     F2

[891 rows x 9 columns]

In [7]:
from sklearn import R

In [15]:
model = svm.SVC()

In [17]:
X = train_without_embarked.drop('Survived', axis=1)
Y = train_without_embarked['Survived']

In [18]:
model.fit(X, Y)

ValueError: could not convert string to float: np.str_('E10')